# Node.js
node_modules
package-lock.json

# Rust build files and logs
/target/           # All Rust build output goes here
**/*.rs.bk         # Backup files
**/*.log           # Any log files
**/*.tmp           # Temp files (if you generate any)
*.profraw          # Rust coverage profile raw output
*.profdata         # Rust coverage processed output

# If you're using cargo-expand or cargo-insta:
.expand/
insta/




Cargo.lock
target/
deno.lock
/dist/
dist/


# Ejercicios etapa 3
Ejercicios_etapa_3/assets/*.js
Ejercicios_etapa_3/assets/*.css
Ejercicios_etapa_3/assets/*.png
Ejercicios_etapa_3/assets/*.jpg
Ejercicios_etapa_3/assets/*.jpeg
Ejercicios_etapa_3/assets/*.gif
Ejercicios_etapa_3/assets/*.svg
Ejercicios_etapa_3/assets/*.webp
Ejercicios_etapa_3/assets/*.ico
Ejercicios_etapa_3/assets/*.woff
Ejercicios_etapa_3/assets/*.woff2
Ejercicios_etapa_3/assets/*.ttf
Ejercicios_etapa_3/assets/*.eot
Ejercicios_etapa_3/assets/*.otf
Ejercicios_etapa_3/assets/*.map
Ejercicios_etapa_3/assets/*.min.js
Ejercicios_etapa_3/assets/*.min.css
Ejercicios_etapa_3/assets/*.min.png
Ejercicios_etapa_3/assets/*.min.jpg
Ejercicios_etapa_3/assets/*.min.jpeg
Ejercicios_etapa_3/assets/*.min.gif
Ejercicios_etapa_3/assets/*.min.svg
Ejercicios_etapa_3/assets/*.min.webp
Ejercicios_etapa_3/assets/*.min.ico
Ejercicios_etapa_3/assets/*.min.woff
Ejercicios_etapa_3/assets/*.min.woff2
Ejercicios_etapa_3/assets/*.min.ttf
Ejercicios_etapa_3/assets/*.min.eot
Ejercicios_etapa_3/assets/*.min.otf
Ejercicios_etapa_3/assets/*.min.map
