<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8"> </meta>
        <title>{{ titulo }}</title>
    </head>
    <body>
        <header>
            <h1>{{ encabezado }}</h1>
        </header>
        <section>
            <p>{{ contenido }}</p>
        </section>
        <footer>
            <p>© {{ año }} - Todos los derechos reservados</p>
        </footer>
    </body>
</html>
