<h1>{{ titulo }}</h1>
<ul>
  {% for fruta in frutas %}
    <li>{{ fruta | upcase }}</li>
  {% endfor %}
</ul>

{% if activo %}
<p>¡Bienvenida, usuario activo!</p>
{% else %}
<p>Estás en modo visitante 💤</p>
{% endif %}
