<p>Texto recibido: {{ texto }}</p>

<p>Texto global (debería fallar en render si viene de assign): {{ texto }}</p>

<p>Título de la colección 'soft-shirts': {{ collections["soft-shirts"].title }}</p>
