<p>Texto recibido: {{ texto }}</p>

<p>Texto global (debería fallar en render): {{ texto }}</p>

<ul>
  {% for collection in collections['camisa-suave'] %}
    <li>{{ collection.title }}</li>
  {% endfor %}
</ul>
