{% htmlOutput %}
  <button class="" >Click Me</button>
{% endhtmlOutput %}

{% javascriptInput %}
  <script>
    document.querySelector('button').addEventListener('click', () => alert('clicked!'))
  </script>
{% endjavascriptInput %}
